<form [formGroup]="companyNameForm">
  <div class="form-group row">
    <div *ngIf="companyNameForm.controls['companyName']?.errors?.['maxlength']">
      Company name is to long
    </div>
    <input
      [ngClass]="{
        'is-invalid':
          (companyNameForm.get('companyName')?.touched ||
            companyNameForm.get('companyName')?.dirty) &&
          !companyNameForm.get('companyName')?.valid
      }"
      type="text"
      class="form-control"
      #InputRef
      formControlName="companyName"
      placeholder="Insert company name"
    />
  </div>
</form>
