<app-common-information> </app-common-information>

<div class="pt-5">
  <table class="table pt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Company name</th>
        <th scope="col">Country</th>
        <th scope="col">Currency</th>
        <th scope="col">Weburl</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" *ngIf="company?.name == '1'; else elseBlock"></th>

        <ng-template #elseBlock> <th scope="row">#</th></ng-template>
        <td>
          <button
            (click)="OnClick()"
            class="btn btn-light"
            *ngIf="company?.name"
          >
            {{ company?.name }}
          </button>
        </td>
        <td>{{ company?.country }}</td>
        <td>{{ company?.currency }}</td>
        <td>{{ company?.weburl }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ngx-spinner
  bdColor="rgba(255,255,255,0.1)"
  size="medium"
  color="#de80cd"
  type="ball-spin"
  name="primary"
  [fullScreen]="false"
>
</ngx-spinner>

<app-stock-history
  companyName="{{ company.ticker }}"
  [stock]="stock"
  class="pt-3"
  *ngIf="stock && ShowHistorystock"
></app-stock-history>
